<div class="header">
<form action="#" phx-submit="add_offer">
  <%= text_input :offer, :next, placeholder: "What do like to offer?" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>
<%= for resource <- @resources do %>
<p><b><font color=red><%= resource %></font></b></p>
   <%= if @is_match do %>
	<p>Number interested - <%= number_joined(resource, @matches) %></p>
   <% end %>
<% end %>
</div>


